<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tokomputer">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TOKOMPUTER"
        tools:targetApi="31">

        <!-- Halaman utama -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />

        <!-- Member -->
        <activity
            android:name=".ui.member.MemberActivity"
            android:exported="false" />

        <!-- Product -->
        <activity
            android:name=".ui.product.ProductDetailActivity"
            android:exported="false" />

        <!-- Category -->
        <activity
            android:name=".ui.category.CategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.category.CategoryListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.category.SubCategoryListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.category.BrandListActivity"
            android:exported="false" />

        <!-- Order -->
        <activity
            android:name=".ui.order.OrderActivity"
            android:exported="false" />

        <!-- Payment -->
        <activity
            android:name=".ui.transaction.PaymentSuccessActivity"
            android:exported="false" />

        <!-- About -->
        <activity
            android:name=".ui.about.AboutActivity"
            android:exported="false" />

    </application>

</manifest>